<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="Special Education Advocacy, Law, Special Education Law, Law Offices, Family Law, Domestic Law, Anti-Bullying Advocacy, Bullying Resources, Bullying">
    <title>Ilene Young: Special Education Advocate</title>
    <link rel="shortcut icon" type="image/x-icon" href="images/IYoung_logo.jpg"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link rel="stylesheet" href="/main.css">
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>
</head>

<body>
    <header class="row ">
        <div class="col-10 mx-auto mt-2" id="header-content">
            <div class="col-6 float-left">
                <img src="/images/IYoung_logo.jpg" class="float-left mx-auto"/>
                <h2 class="">Law Offices of Ilene Young</h2>
                <p>Representing Families Throughout Southeast Pennsylvania</p>
            </div>
            <div class="col-6 float-right mx-auto">
                <h5><a id="office-email" href="mailto:info@ileneyoung.com?Subject=New%20Con tact">Email: info@ileneyoung.com</a> ||
                    Phone: (215) 750-9500</h5>
                <p class="address">Suite 204 ~The Lofts at Oxford Valley
                    172 Middletown Boulevard
                    Langhorne, PA 19047</p>
            </div>
        </div>
    </header>
    <div class="body-container">
    {{{body}}} 
    </div>
</body>

</html>