body {
    background-color: #ffffff; 
}

header {
    background-color: #ffffff;
    font-weight: 500;
}

#office-email{
    color: #000000;
    text-decoration: none;
}

#office-email:hover{
    color: #004BA8;
}

#header-content {
    border-bottom-width: 12px; 
    border-bottom-style: double;
    border-color: #7BDFF2;
}

.body-container {
    font-weight: 600;
}

#inline-h3 {
    display: inline-flex;
}
