html {
   background-size: cover;
   background: linear-gradient(to bottom left, rgba(230, 182, 111, 0.918), rgba(15, 34, 141, 0.1)80%);
   min-height: 100%;
   min-width: 100%;
   background-repeat: no-repeat;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   
}

header {
    width: 100%;
    margin: 0 auto;
    background-color: rgba(15, 34, 141, 0.4);
    height: 100%;
    text-align: center;
    grid-template: 0.5in auto 0.5in;
}

 /* buttons */
button.headerItem {
    background-color: rgba(15, 34, 141, 0.0);
    color: rgba(0,0,0,0.5);
    border: none;
    margin: auto;
    text-align: center;
    font-size: 27px;
    font-family: 'Slabo 27px', serif;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    cursor: pointer;
    grid-column: 0/span 2;
    width: fill;
    
}


/* button visual effect */
button:hover {
    background-color: rgba(15, 34, 141, 0.5);
    color: rgba(230, 182, 111, 0.918);
}


/* Formatting for title of webpage */
.headerItem h1 
{
    grid-column: 0 / span 2;
    margin: auto;
    text-align: center;
    padding-top: 10px;
    font-family: 'Domine', serif;
    font-size: 45px;
}  

/* Formatting the grid */

.articles {
    font-family: 'Domine', serif;
    font-size: 16px;
    grid-template-columns: 1fr [start]  4fr [end]  1fr;
    grid-column: [start]/[end] ; 
    display: grid;
}

@media (max-width: 8.5in) {
    article {
        grid-template-columns: 5% [start] 90% [end] 5% ;
    }

    header {
        grid-template-columns: 5% [start] 90% [end] 5%;
    }
}


.debug-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
