<div class="row">
    <div class="col-8 mt-5 mx-auto">
        <p id="about-us">
            <h3 id="inline-h3">Ilene Young Law Offices</h3> is a family, community and results oriented law practice.
            We have
            successfully
            represented members of our community in education law, domestic relations, children's civil and
            juvenile rights, and disabilities planning. Ilene Young has represented Pennsylvania parents since
            1981, with a focus on children with special needs and learning differences, in administrative, state,
            federal and appellate courts.

        </p>
    </div>
</div>
</div>
<div class="row">
    <div class="col-10 mx-auto">
    {{> recent_decisions}}
    {{> recent_news}}
    </div>
</div>
